
*{
   margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden; 
  font-family: "Noto Sans",normal;
}

body {
  font-family: "Roboto-Regular","Helvetica Neue",Helvetica,Tahoma,Arial,sans-serif ;
  background: #F5F5F5;
}
.main{
  width: 100%;
  height: fit-content;
}
.modal-header{
  overflow-y: hidden;
}
.main_Nav_Container{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  z-index: 1020 !important;
}
/* 🔝 Top Bar */
.daraz-topbar {
  font: "Roboto-Regular" ;
  background-color: #f85606;
  padding: 3px 22px 3px 0px;
}
.daraz-topbar a {
  font: 'Roboto-Regular' ;
  color: #fff;
  font-size: 11.8px;
  text-decoration: none;
  font-weight: 400;
  padding: 0px 17px;
}
.daraz-topbar a:hover {
  text-decoration: none;
  color: #f9ab84;
}

/* 🔻 Main Navbar */
.daraz-navbar {
background-color: #f85606;
  padding-top: 5px ;
  min-height: 73px;
  width: 100%;
  z-index: 1020 !important;
  padding-bottom: 15px;
}

/* Logo */
.daraz-logo {
  height: 40px;
  padding-left: 20px;
  margin-left: 17px;
  margin-top: 13px;
  display: block;
  padding-right: 15px;
}

/* Search bar */
.search-box {
  flex: 1;
  max-width: 768px;
  margin-left: 15px;
  padding-left: 4px;
  padding-right: 32px;
  display: flex;
  margin-top: 7px;
  margin-right:0px;
  margin-bottom: 4px;
}

.search-bar{
  margin-left: 42px;
}

.search-box input {
  padding: 13px 19px;
  border: none;
  height: 45px;
  border-radius: 0;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;  
}
input:focus {
  outline: none !important;  
  box-shadow: none !important; 
}
.search-box input::placeholder {
  color: rgb(179, 179, 179);
  font-style: normal;
  font-size: 14px;
}
.ProductAncorTag{
    text-decoration: none;
}
.search-box button {
  border: none;
  background-color: #ffe1d2;
  color: #f85606;
  height: 45px;
  border-radius: 0;
  padding: 0 15px;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;  
}
.main_container{
  width: 100%;
  height: fit-content;
  padding-top: 24px;
  padding-left: 30px;
}
/* Cart icon */
.cart-icon {
  color: #fff;
  font-size: 24px;
  margin-top: 16px;
  display: flex;
}

/* 🔐 Modal (Login Form) */

.nav-tabs {
  border: none !important;
  margin: 0 auto;
  gap: 0 !important;
}

.nav-tabs .nav-item {
  flex: 1;
  text-align: center;
}

.nav-tabs .nav-link {
  border: none;
  font-size: 14px;
  font-weight: 500;
  color: #666;
  padding: 8px 0;
  width: 100%;
  padding-top: 0 !important;
  border-radius: 0;
}

.nav-tabs .nav-item:first-child {
  border-right: 1px solid #d2d2d2;
}

.nav-tabs .nav-link.active {
  color: #313131;
}

/* Modal */
.modal-backdrop {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.5) !important;
  z-index: 1050 !important;
  overflow-y: hidden;
}

.modal {
  z-index: 1055 !important;
  overflow-y: hidden;
}

.modal-dialog,
.modal-content {
  z-index: 1055 !important;
  border-radius: 5px;
  padding-top: 0;
  padding-bottom: 0;
}

.modal-dialog {
  max-width: 444px;   
}

.modal-content {
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  height: 446px;       
  max-height: 446px;
}

.modal-header {
  padding-top: 0 !important;
  border: none !important;
}

.modal-body {
  margin-top: 20px;
}

/* Close button */
.out-btn {
  margin-left: auto;
  height: 30px !important;
  width: 30px !important;
  padding: 7px !important;
}

.out-btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

/* Inputs */
.input-custom {
  border-radius: 2px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
}

#phone-login .input-custom {
  border-radius: 2px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}
/* Country Code Box */
.country-code {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 15px;
  color: #444;
  margin-top: 30px !important;
  margin-right: 6px !important;
}


#phone-login .input-custom {
  border-radius: 4px;
  padding: 10px;
  font-size: 14px;
}



#phone-login .btn-login {
  background: #fc6c24;
  color: #fff;
  font-weight: 600;
  border: none;
  padding: 10px;
  font-size: 15px;
  border-radius: 8px;
  width: 100%;
}
#phone-login .btn-login:hover {
  background: #ff8045;
}


.password-toggle {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./imeges/eye.svg");
}
.password-toggle.active {
  background-image: url("./imeges/eye-slash.svg");
}

/* Login button */
.btn-login {
  background: #fc6c24;
  color: white;
  font-weight: 600;
  border: none;
  padding: 10px;
  font-size: 15px;
  border-radius: 8px;
  width: 100%;
}
.btn-login:hover {
  background: #ff8045;
  color: white;
}

/* Social buttons */
.social-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
.LG-box-text {
  color: #858B9C;
  margin-top: 40px;
}

.btn-google,
.btn-facebook {
  flex: 1;
  color: #858B9C;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: none;
  background: none;
}

.btn-google {
  padding: 8px 0 8px 60px;
}
.btn-google img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.btn-facebook {
  padding: 8px 60px 8px 0;
}
.btn-facebook img {
  width: 20px !important;
  height: 20px !important;
  border-radius: 50% !important;
}

/* Text */
.small {
  font-size: 13px;
}

/* ✅ Carousel size */
#darazCarousel .carousel-inner {
  width: 988px;
  height: 344px;
}

#darazCarousel .carousel-inner img {
  width: 100%;
  height: 344px;
  object-fit: cover;
}

/* ✅ Indicators (gol dots) */
#darazCarousel .carousel-indicators {
  position: absolute;
  bottom: 18px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  gap: 2px;
  margin: 0;
  padding: 0;
}

#darazCarousel .carousel-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 50%;  
  background-color: #ddd;
  border: none;
}

#darazCarousel .carousel-indicators .active {
  background-color: #ffffff;
}

/* ✅ Prev & Next Buttons */
#darazCarousel .carousel-control-prev,
#darazCarousel .carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: auto !important;      
  height: auto;
  margin: 0 !important;
  padding: 0 !important;
  background: none;
  border: none;
  box-shadow: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;      
}

#darazCarousel:hover .carousel-control-prev,
#darazCarousel:hover .carousel-control-next {
  opacity: 1;
  visibility: visible;
}

#darazCarousel .carousel-control-prev {
  left: 0 !important;  
}

#darazCarousel .carousel-control-next {
  right: 0 !important;  
}

/* ✅ PNG Arrow Icons */
.arrow-icon {
  width: 24px;
  height: 30px;
  display: block;
  pointer-events: none; 
}


 /* right add section */

 .app-header h6 {
  font: arial;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;     
  color:#694034;         
  letter-spacing: 0.5px;
  line-height: 16.8px;
  text-transform: uppercase;
  font-weight: 600;
}

.app-header img {
    width: 24px;
    height: auto;
    margin-left: 5px;
}



.ad-section {
  width: 194px;
  height: 340px;
  background:  
     linear-gradient(90deg, #fff, hsla(0, 0%, 100%, 0)),
     linear-gradient(179.27deg, #ffedd6 .83%, #ffc3e3 46.78%,#fff 99.57%), 
     linear-gradient(0deg, #fff, #fff);;
  overflow: hidden;
  padding: 5px;
  margin-left: 6px;
}

.ad-card-wrapper {
  width: 182px;
  height: 158px;
  border-radius: 6px;
  padding-right: 10px;
  position: relative;
  color: #fff; 
  background: url("./imeges/bg-file.png") no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.star-icon {
  width: 10px;   
  height: 10px;
  object-fit: contain;
}

.rating-number {
  font-weight: 700;
  color: #FFFFFD; 
  font-size: 10px;
  margin-bottom: 10px;
  margin-top: 5px;
}

.rating-section{
  overflow: hidden;
  margin-top: 3px;
}

.app-ad {
  font-family: Arial, sans-serif;
  padding-bottom: 5px;
}


.app-logo {
  width: 32px;
  height: auto;
}

.ad-card {
  background: linear-gradient(135deg, #ffc5b3, #ff0844);
  color: #fff;
  border-radius: 6px;
  font-size: 13px;
}

.download-section {
    display: flex;            
    flex-direction: column;   
    justify-content: flex-start;  
    align-items: center;      
    text-align: center;       
    gap: 2px;                
    height: 100%;   
    margin-top: 5px;         
}


.download-section p.fw-semibold {
    align-items: start;
    justify-content: center;
    font-size: 12px;
    color: #FFFFFD;
    padding-left: 5px;
}
.ds-icon-text{
  padding-top: 5px;
}

.download-section ul li {
    display: flex;
    align-items: center;
    margin-top: 4px !important;
}

.download-section ul li .icon {

    margin-right: 70px; 
    margin-left: 35px;
    margin-right: 5px;
}

.ds-text{
  text-align: left;
  line-height: 15px;
  vertical-align: baseline;
  font-size: 14px;
  font-weight: 500;
  padding-right: 20px;
}

.icon {
    width: 36x;
    height: 36px;
    vertical-align:middle; 
}

.ad-card ul {
  padding-left: 0;
}

.qr-code {
  margin-top: 5px;
  width: 90px;
  height: 90px;
  object-fit: cover;
}

.sticker {
    width: 83px;
    height: 24px;
    display: block;
    margin-top: 4px;
    margin-left: 2px;
}
.item-text{
  font-size: 14px;
  font-weight: bold;
}

.d-footer{
  color:#2E3346;
  padding: 0px 20px 15px 5px; 
  font-size: 10px;
  font-weight: 550;
}


/* sale-heading */
.sale-heading {
   font-family: "Noto Sans", sans-serif;
  padding-left: 32px;
  padding-top: 29px;
  color: #424242;
  font-size: 22px;
  font-weight: 400;
}

/* 🔹 Shop All Button */
.S-A-button {
  border: 1px solid #F57224;
  border-radius: 2px;
  color: #F57224;
  padding: 8px 14px;
  font-size: 13px;
  font-weight: 550;
  background: #fff;
  cursor: pointer;
}

/* 🔹 Disable hover effect */
.S-A-button:hover {
  background: #fff;
  color: #F57224;
  border: 1px solid #F57224;
}


/*  Container */
.container-product-section {
  margin-top: 0px !important;
  margin: 30px;
  background: #fff;
  box-shadow: 0 1px 6px rgba(0,0,0,0.05);
  padding: 10px;
  padding-top: 0px;
}

/*  Section Wrapper */
.product-section {
  max-width: 1190px;
  margin: 0 auto;
  box-sizing: border-box;
}

/*  Section Header */
.product-header {
  height: 57px;
  border-bottom: 1px solid #DCDCDC;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}

.product-header p {
  font-size: 13px;
  font-weight: 600;
  color: #f66922;
  margin: 0;
  letter-spacing: 0.5px;
}

/*  Product Card */
.product-card {
  background: #fff;
  border: none;
  box-shadow: none !important;
  padding: 10px;
  margin: 5px;
  text-align: center;
  transition: all 0.3s ease;
  height: 100%;
}

.product-card:hover {
  border-color: #f57224;
   box-shadow: 
    0 2px 6px rgba(0, 0, 0, 0.1),
    2px 0 6px rgba(0, 0, 0, 0.05),  
   -2px 0 6px rgba(0, 0, 0, 0.05) !important; 
}

/*  Product Image */
.product-card img {
  max-width: 100%;
  height: 160px;
  object-fit: contain;
  margin-bottom: 10px;
}

/*  Product Title */
.product-title {
  font-size: 13px;
  color: #333;
  margin-bottom: 6px;
  min-height: 36px; 
  overflow: hidden;
}

/*  Product Price */
.product-price {
  font-size: 15px;
  font-weight: 600;
  color: #f57224;
  margin: 0;
}

/*  Old Price + Discount */
.product-oldprice {
  font-size: 12px;
  color: #999;
  margin: 0;
}

.product-oldprice .discount {
  color: #f57224;
  font-weight: 600;
  margin-left: 4px;
}


.row.g-0 > [class*="col-"] {
  padding: 8px; 
}


/* Product Card */
.product-card {
  background: #fff;
  height: fit-content;
  width: 189px;
  overflow: hidden;
  padding: 5px;
  text-align: left;
  box-sizing: border-box;
  border: none;
  transition: box-shadow 0.2s ease, border-color 0.2s ease;
}




.product-card:hover {
  border-color: #eee;
  box-shadow: 
    3px 3px 6px rgba(0, 0, 0, 0.15),  
   -3px 3px 6px rgba(0, 0, 0, 0.15); 
}

/* Image */
.product-card img {
  max-height: 187px;
  width: 100%;
  display: block;
  margin: 0 auto;
}


/* Texts */
.product-title {
  font-size: 13px;
  line-height: 1.2em;
  color: #333;
  margin: 0;
  height: 32px;
  overflow: hidden;
}

.product-price {
  font-size: 15px;
  font-weight: bold;
  color: #f85606;
  margin: 3px 0 0;
}
.product-price2{
  overflow-y: hidden;
}

.product-oldprice {
  font-size: 12px;
  color: #999;
  margin: 0;
}

.product-oldprice .discount {
  color: #f85606;
  margin-left: 5px;
}


/* catagories section  */

.categories-section {
  max-width: 100%;
  padding: 0 35px; 
  margin: 0;
}

.row.g-0 {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.col-6.col-sm-3.col-lg-8perrow {
  padding: 0;
}

/* Custom class for 8 per row on large screens */
@media (min-width: 992px) {
  .col-lg-8perrow {
    flex: 0 0 12.5%;  
    max-width: 12.5%;
  }
}

.category-box {
  width: 150px;
  height: 149px;
  border: 0.1px solid #ebebeb;
  text-align: center;
  padding: 10px;
  transition: all 0s ease-in-out;
  background: #fff;
  margin: auto; 
}

.category-box:hover {
  box-shadow: 0 6px 15px rgba(0,0,0,0.15);
  position: relative;
}

.category-box img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  margin-bottom: 8px;
  margin-top: 10px;
}

.category-box p {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  color: #333;
}





/* for you page  */

.sale-heading-fr{
   font-family: "Noto Sans", sans-serif;
  padding-top: 35px;
  color: #424242;
  font-size: 22px;
  font-weight: 400;
}

.custom-products {
  max-width: 100%;
  padding-left: 35px;
  padding-right: 35px;
}

.custom-card {
  border: 1px solid #eee;
  transition: 0;
  border-radius:0 ;
  cursor: pointer;
  height: 100%;
}

.custom-card:hover {
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);

}

.custom-card img {
  height: 180px;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

.custom-title {
  font-size: 14px;
  font-weight: 400;
  color: #333;
  margin: 0 0 4px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.custom-price {
  font-size: 16px;
  font-weight: 600;
  color: #f85606;
  margin: 0 0 4px;
}

.custom-discount {
  font-size: 13px;
  color: #777;
  margin-left: 5px;
}

.fa-star {
      color: #ccc;
    }

.checked {
  color:#FACA51;
  font-size: 13px;
}
.custom-rating {
  font-size: 13px;
  color: #ccc;
  margin: 0;
}

/*  Button  */
.load-button-div{
  margin-top:19px ;
  padding-top: 24px;
  padding-bottom: 9px; 

}
.load-more-btn {
  background: #F5F5F5;
  color: #1A9CB8;
  border: 1px solid #1A9CB8;
  height: 42px;
  width: 385px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 0;
  transition: 0.3s ease;
  cursor: pointer;
}

.load-more-btn:hover {
  background: #F5F5F5;
  color: #1A9CB8;
  border: 1px solid #1A9CB8;
}

/*  Loader Wrapper  */
.LoaderWrapper {
  display: none;
  justify-content: center;
  margin-top: 10px;
}

/*  Loader Circle  */
.Loader {
  width: 50px;
  height: 50px;
  background-color: #f85606;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;

}

.border-spinner {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #fff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.loader-img {
  width: 30px;
  height: 30px;
  z-index: 1;
}

@keyframes spin {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



/* footer  */

footer {
  background-color: #F4F4F6;
  padding: 20px 0;   
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.LS-lists{
  padding-right: 10px !important;
}
.fi-column-text{
  padding-left: 15px;

}
.column-txt{
  padding: 0px;
  padding-left: 50px;
}

.footer-first{
  padding-top: 20px;
  padding-bottom: 25px;
}
.FT-r-side{
  margin-left: 85px;
  padding-left: 0px;
  padding-top: 18px;
}
.HD_Text{
  margin-right: 32px !important;
}

.RS-hp-text{
  color:#f85606;
  font-family: arial;
}

.RS-ds-text{
    color: #0f136d;
    font-size: 14px;
    font-weight: 300;
    padding-top: 2px;
    text-decoration: none;
    font-family: arial;
}

.Dr-logo-ft{
  width:40px;
  margin-right: 15px;
}

footer h5 {
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 8px;   
  color: #0F136D;

}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;

}

footer ul li {
  margin-bottom: 0;   
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.2; 
  
}

footer ul li a {
  text-decoration: none;
  color: #0F136D;
  font-size: 12px;
  line-height: 1;   
}

footer ul li a:hover {
  text-decoration: underline;
}

/* App badges section */
.app-badge-wraper{
  margin-left: 5px !important; 
  padding-left: 3px ;
}

.app-badges img {
  height: 40px !important;
  margin-left: 5px !important;
  width: 125px !important;
}

.badge-img-f{
  margin-right: 5px !important;
  margin-top: 5px !important;
  margin-bottom: 3px !important;
}

.app-section {
  text-align: start;
}



/* pmfooter */

.payment-section-footer {
    width: 100%;
    height: 160px;
    background: #ffffff;
    align-items: flex-start;
    padding-left: 35px;
    padding-top: 15px;
    padding-right: 35px;
}


.payment-method{
  color: black;
  max-width: 600px;
  padding-top: 15px;
}

.payment-method img {
    max-height: 30px;
  }

.verified-section{
  color: black;
  max-width: 600px;
  padding-top: 15px;
  padding-left: 75px;
}


/* ca-footer */

.ca-footer {
  background-color: #F4F4F6; 
  color: #888888;           
  font-size: 13px;
  line-height: 1.6;
  padding-left: 35px;
  padding-right: 130px;
  padding-bottom: 50px;
  padding-top: 60px;
}

.ca-footer a {
  color: #888888;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.ca-footer a:hover {
  color: #000;
  text-decoration: none;
}

.ca-footer p,
.ca-footer li {
  font-size: 12px;
  margin-bottom: 10px;
}


.ca-footer .fw-bold {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 0px;
}

.ca-footer .ft-heading{
  font-size: 15px;
  margin-bottom: 5px;
  color: #606060;
}

.ca-footer ul li {
  margin-bottom: 6px;
}



/* last footer */

.bt-footer {
  width: 100%;
  height: fit-content;
  background-color: #FFFFFF;
   padding: 40px 20px 30px 25px; 
  font-family: Arial, sans-serif;
}

.bt-footer h5 {
  font-size: 16px;         
  color: #2A2A2A;        
  line-height: 1.3;
  margin-bottom: 0px !important;
}


.bt-footer-right {
  padding-left: 0px;
}

.bt-footer-left{
  padding-right:0px !important;
}

/* Image + text section */
.flag-foot{
  margin-top: 9px !important;
}

.bt-img-row img {
  width: 28px;
  height: 28px;
}


.bt-footer-text {
  font-size: 14px;
  color: #888888;
  cursor: pointer;
  display: inline-block;
  padding-right: 5px;
}

.bt-footer-text:hover {
  text-decoration: underline;
}

/* Right side follow row */
.bt-follow-row {
  padding: 5px 0;
}

.bt-follow-text {
  font-size: 14px;
  color: #696969;
}




.footer1{
  width: 100%;
  height: fit-content;
  padding-left: 35px;
}


/* ----------------------------------------------------- */


.categories-main-wrapper {
  position: fixed;     
  top: 100px;          
  left: 0;
  z-index: 1019;      
  background: white;
  width: 100%;
  margin-top: 0;
}




.categories-wrapper {
  position: relative;
  display: inline-block;
}

.category-btn {
  padding: 0px 20px;
  border: none;
  background: #ffffff;
  font-weight: 400;
  color: #00055a;
  cursor: pointer;
  width: 220px;  
  text-align: left;
  padding-left: 65px;
  font-size: 14px;
  line-height: 40px;
}

.categories-menu {
   display: none;
  position: absolute;
  top: 100%;    
  left: 0;        
  width: 100%;    
  background: white;
  border: 1px solid #ddd;
  z-index: 1000;  
  margin-left: 35px;
}

.categories-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.categories-menu li {
  padding: 3px 8px;
  cursor: pointer;
  font-size: 14px;
  color: #444;
}

.categories-menu li:hover {
  background: #f1f1f1;
  color: #F57224;
}

.categories-wrapper:hover .categories-menu {
   display: block;
}


  


 
/* br-section  */




.breadcrumb {
  background: #EFF0F5 !important ;         
  margin-bottom: 0 !important;
  padding: 0;
  font-size: 13px;
  padding-left: 35px !important; 
  justify-content: start;
  align-items: center;
  margin-top: 65px;
  line-height: 19.5px !important;
  font-weight: 300;
  height: 48px;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: "›";             
  color: #999;              
  padding: 0 3px;
}

.breadcrumb a {
  color: #1a9cb7;            
  text-decoration: none;
  font-size: 14px;
}

.breadcrumb .active {
  color: #676767;               
  font-weight: 400;
  font-size: 14px;
}

/* mian container  */
.product-details-main-container {
  width: 100%;
  padding-left: 35px;
  padding-right: 35px;
  margin: 0 !important;
}

/* Container */
.product-details-container {
  background: #ffffff;
  border: 1px solid #eee !important;
  max-width: 1252px;
  margin: 0 auto;
  padding-bottom: 16px;
}

/* Left Section */
.product-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}
.bottom-line{
margin: 10px 0px 10px 0px;

border: 0.25px solid lightgray;
}
.main-product-image {
  display: flex;
  flex-direction: column;
  padding-top: 8px;

}
#displayImage{
  width: 100%;
  max-width: 264px;
  margin-left: 30px;
}
.main-image-thumbnails {
  padding-top: 8px;
  border-top: 1px solid rgb(237, 235, 235);
}
.product-info{
padding-left: 0px !important;
}

/* Thumbnails */
.thumbnail-row img {
  margin-left: 15px;
  width: 50px;
  height: 50px;
  object-fit:contain;
  cursor: pointer;
  transition: 0.3s;
  border: 1px solid red;
}
.thumbnail-row img:hover {
  border-color: #f57224;
}

 /* right section  */
.product-right {
  width: 330px; 
  flex-shrink: 0; 
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.RS-counting{
  margin-right: 19px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16.1px;
  color:#212121;
  margin-top: 10px;
}

/* Mobile Fix */
@media (max-width: 576px) {
  .product-info h4 {
    font-size: 18px;
  }
  .product-info h3 {
    font-size: 20px;
  }
  .buy-button,
  .add-button {
    width: 100%;
  }
}





/* Product Info Section */
.product-info {
  background: #fff;
 
}

.product-info h4 {
  font-size: 22px;
  font-weight: 450;
  padding-bottom: 27px !important ;
  padding-top: 14.740px !important ;
  margin-bottom: 0px !important;
}

.rating {
  color: #ffb400;
  font-size: 14px;
}
.red-star {
    color: #ffb400;
    font-size: 16px;
  }
.white-star{
   color: #f9da8f;
    font-size: 16px;
  margin-right: 7px;
  
}  
.rating-text{
  text-decoration:none ;
  cursor: pointer;
}

.rating-text :hover{
  text-decoration: underline;
}

/* Price Section */
.product-info {
  padding-left: 30px;
  padding-right: 30px;

}
.product-detail{
  padding-bottom: 60px !important;
  padding-top: 10px !important;
}

.product-pricing{
  padding-top: 5px !important;
  padding-bottom: 5px;
}
.product-info h3 {
  font-size: 24px;
  font-weight: 500;
  color: #F57224;
  
}
.product-info del {
  color: #999;
  margin-right: 5px;
}
.product-info span.text-success {
  font-weight: 400;
  color: #000 !important;
}
.link-hover:hover {
    text-decoration: underline !important;
  }
#product-from-txt{
  font-size: 12px;
}
/* Quantity Section */
.quantity-box {
    display: flex;
    align-items: center;
    overflow: hidden;
    
  }
 
  .quantity-text{
    
    color:#757575;
    font-weight: 400;
    font-size: 14px;
  }
  

  .quantity-box .btn-light {
    background: #f8f9fa;
    border: none;
    border-radius: 0;
    font-weight: bold;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
    color: #606060;
    
  }

  .quantity-box .btn-light:hover {
    background: #e9ecef;
    color: white;
  }

  .quantity-box .quantity-input {
    width: 50px;
    text-align: center;
    border: none;
    border-left: none;
    border-right: none;
    height: 40px;
    font-weight: 500;
    font-size: 14px;
    border-radius: 0;
  }

  .quantity-box .quantity-input::-webkit-inner-spin-button,
  .quantity-box .quantity-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

/* Buttons */
.buy-button{
  background-color: #2ABBE8 ;
  border: none;
  border-radius: 2px;
  width:225px ;
  height: 40px;
  color: #ffffff;
}

.add-button{
  background-color: #f76923 ;
  border: none;
  border-radius: 2px;
  width:225px ;
  height: 40px;
  color: #ffffff;
}


/* 🔹 Right Section */
.product-right {
  background: #FAFAFA;
  border: none;
}

#do-text{
  font-size: 13px;
  font-weight: 500;
  overflow-y: hidden;
  padding-left: 17px;
}

#stg-heading{
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0 !important;
  
}
.Delivery-Info{
  width: 200px;
}

#stg-text{
  font-size: 13px;
  color: #acabab;
  overflow-y: hidden;
}
.stg-price{
  overflow-y: hidden;
}

#change-button{
  border: none;
  background: #FAFAFA;
  color: #1877f2;
}

#wa-text{
  font-size: 12px;
  color: #8c8c8c;
  padding-top: 7px;
  overflow-y: hidden;
}

#dbox {
  background: #ffffff !important;
  font-size: 13px;
  font-weight: 500;
  color: rgb(167, 166, 166);
  border: 1px solid #eee;
  border-radius: 4px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.15);
  transition: 0.3s;
  padding: 10px;
}

#app-d{
  font-size: 12px;
  
}


/* Seller Info Box Styling */
.seller-box {
  padding: 8px;
  width: 100%;
  margin-top: 20px;
  font-family: Arial, sans-serif;
}

.seller-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.sold-by {
  font-size: 12px;
  color: #666;
  margin: 0;
}

.seller-name {
  font-size: 15px;
  font-weight: 500;
  margin: 0;
}

.chat-btn {
  font-size: 13px;
  color: #007bff;
  text-decoration: none;
  padding: 4px 10px;
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 600;
}


.seller-stats {
  display: flex;
  justify-content: space-between;
  text-align: start;
  margin: 12px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 12px 0;
}

.stat-title {
  font-size: 12px;
  color: #666;
  margin-bottom: 15px;
}

.stat-value {
  font-size: 25px;
  font-weight: 500;
  color: #343434;
  margin: 0;
}

.stat-muted {
  font-size: 12px;
  padding-top: 10px;
  font-weight: 500;
  color: #999;
  margin: 0;
}

.goto-store {
  text-align: center;
  margin-top: 10px;
}

.goto-store a {
  font-size: 13px;
  font-weight: 600;
  color: #007bff;
  text-decoration: none;
}

.goto-store a:hover {
  text-decoration: underline;
}




/* ------------------- */

.product-main-detail-container{
  width: 100%;
  height: fit-content;
  padding-top: 10px;
  padding-left: 35px ;
}
.product-container {
  width: 80.4% !important;
  background: #fff;
  padding: 25px;
  border-radius: 5px;
}
.product-container-Title{
  overflow-y: hidden;
}
.product-container h6 {
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 15px;
}

.product-container p {
  margin-bottom: 10px;
  line-height: 1.5;
}

.product-container ul {
  padding-left: 18px;
  margin-bottom: 15px;
}

.product-container ul li {
  margin-bottom: 6px;
}

.product-container hr {
  margin: 15px 0;
  border-top: 1px solid #c2c2c2;
}

.fw-semibold {
  font-weight: 600 !important;
}


/* ------------------- */

.review-container {
  margin-top: 10px !important;
  width: 100%;
  max-width: 988px;
  background: #fff;
  margin-left: 35px !important;
  margin-right: 350px !important;
  padding: 0 !important;
}

.review-container h6 {
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #ebebeb;
}

.review-container p {
  margin-bottom: 8px;
  line-height: 1.5;
}

.review-container hr {
  margin-bottom:20px ;
  border-bottom: 1px solid #d1d1d1;
  border-top: none;
  padding-bottom: 20px;
}
.left-review{
  padding-left: 25px !important;
  margin-left: 12px;
}
#ratings-bars{
  width: 32%;
  padding-top: 12px;
  padding-bottom: 20px;
}
.review-box {
  padding: 15px;
  background: #fff;
  
}

.counting-text{
  font-size: 45px;
  margin-bottom: 0px !important;
}
.fs-2{
  color: #9E9E9E;
}
.big-star{
  font-size: 36px;
  color: #FACA51;
  margin-bottom: 0px !important;
 }
 .rating-star{
  font-size: 19px;
  color: #FACA51;
  margin-bottom: 0px !important;
 }
 .rating-none-star{
  font-size: 19px;
  color: #EFF0F5;
  margin-bottom: 0px !important;
 }   

  .progress {
    height: 13px !important;
    
  }
.rating-progress{
  height: 16px;        
  background-color: #f0f0f0; 
  border-radius: 0;    
  width: 138px !important;
}
.rating-progress .progress-bar {
  background-color: #f8c146 !important; 
}
.w-85{
  width: 85%;
}
.w-60{
  width: 60%;
}
.w-45{
  width: 45%;
}.w-4{
  width: 4%;
}.w-12{
  width: 12%;
}
/* Wrapper for Q/A section */
.qa-section-wrapper {
  width: 100%;
  max-width: 988px;
  background: #fff;
  margin-left: 35px !important;
  margin-right: 350px !important;
}

.div-heading{
  border: 0;
  border-bottom: 1px solid #e8e7e7;
  margin-bottom: 20px;
}

/* Inner box */
.qa-section {
  background: #fff;
}

/* Heading */
.qa-section h5 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

/* Small text */
.qa-section small {
  color: #666;
  font-size: 13px;
}

/* Question & Answer Badges */
.qa-section .badge {
  width: 24px;
  height: 24px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.revew-heading{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  background-color: #FAFAFA;
  border-bottom: none !important;
}

#pr-hed{
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  font-size: 14px;
  color:#212121;
  font-weight: 400;
  border-bottom: none;
}
.customer-name{
 font-size: 12px;
 color:#808080;
}
.verified-img{
  width: 15px;
}

/* Header */
.qa-header {
  border-bottom: 1px solid #eff0f5;
 }

.qa-login {
  font-size: 14px;
  color: #212121;
  margin: 0;
  padding: 12px 24px 0 24px;
}

.qa-login a {
  color: #1E71FF; 
  font-weight: 500;
  text-decoration: none;
}
.qa-login a:hover {
  text-decoration: underline;
}


.qa-subheading {
  font-size: 14px;
  color: #1f1e1e;
  margin: 0;
  padding: 4px 24px 12px 24px;
  font-weight: 500;
  border-bottom: 1px solid #eff0f5;
}

/* Question/Answer badges */
.qa-badge-q {
  background: #00a0dc;
  color: #fff;
  font-weight: 600;
  border-radius: 2px;
}

.qa-badge-a {
  background: #999;
  color: #fff;
  font-weight: 600;
  padding: 4px 8px;
  border-radius: 2px;
}

/* Divider line */
.qa-section hr {
  margin: 15px 0;
  border-top: 1px solid #e0e0e0;
}

/* Text sizes */
.qa-section p {
  font-size: 14px;
  color: #212121;
}

.qa-section small {
  font-size: 12px;
}


/* ----------------- */
.you-may-like-wrapper {
  background: #EFF0F5; 
  padding-bottom: 20px;
}

.you-may-like-wrapper .container {
  max-width: 100%;     
  padding-left: 35px;  
  padding-right: 35px; 
}

.section-title {
  margin-bottom: 10px;
  color: #212121;
  font-size: 16px;
  font-weight: 550;
  line-height: 20px;
}

.product-card {
  width: 188px;   
  background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.08);
  transition: all 0.2s ease;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0%;
}

.product-card:hover {
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.product-card img {
  width: 100%;
  height: 220px;          
  object-fit: contain;   
  background: #fff;
}

.product-details {
  padding: 3px;
  flex-grow: 1; 
}

.product-title {
  font-size: 14px;
  color: #111;
  line-height: 1.4;
  min-height: 40px; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.price {
  font-size: 18px;
  font-weight: 400;
  color: #F57224; 
  margin-bottom: 0px;
  line-height: 22px;
}

.rating {
  font-size: 13px;
  color: #f6b01e; 
  margin-bottom: 0%;
}
